@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Yellowtail&display=swap');

@import 'config';

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

nav{
    background-color:#fafcf9 ;
    animation: feltdown 0.8s ease-in;
    @include transition-ease(height,0.5s);
    font-family: 'Roboto',sans-serif;
    .logo{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        & .text {
           
            font-weight: lighter;
        }
    }
    &.active{
        // background-color: #4a5568;
        // color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        height: 3rem;
        @include transition-ease(all,0.5s);
        &.active .logo {
            font-size: 1.5rem;
        }

        &.active .logos {
            transform: scale(0.8);
        }

        &.active .text {
            margin-left: 3px;
        }

        &.active ul {
            font-size: 0.8rem;
            
        }
    }

    & .focus {
        color:  #f56565;
    }
}

.menu-btn{
    position: absolute;
    z-index: 999;
    right: 0;
    top: 1.2rem;
    height: 20px;
    width: 28px;
    cursor: pointer;

    &.active{
        top: 1rem;
                
    }

    &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background-color: black;
        @include transition-ease(transform,.4s);
        &::before {
            content : '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background-color: black;
            
        }

        &::after {
            content : '';
            position: absolute;
            top: 8px;
            width: 28px;
            height: 3px;
            background-color: black;
        }

        &.open {
            transform: rotate(360deg);
            background: transparent;
            @include transition-ease(transform,.4s);
            &::before{
                transform: rotate(45deg) translate(5px,8px);
            }

            &::after{
                width: 28px;
                transform: rotate(-45deg) translate(3px,-7px);
            }
        }
    }
    
}

.nav{
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.9;
    font-family: 'Raleway', sans-serif;
    z-index: 40;
    visibility: hidden;
    transform: translateY(-100%);
    @include transition-ease-in(transform,.5s);

    & .menu-link {
        transform: translateX(-100%);
        @include transition-ease-in(transform,.5s);
        transition-delay: .4s;
    }

    &.open {
        visibility: visible;
        transform: translateY(0);
        @include transition-ease-in(transform,.5s);
        

        & .menu-link {
            transform: translateX(0);
    
        }

    }

    
}

@for $i from 1 through 6 {
    .menu-link:nth-child(#{$i}){
        transition-delay: ($i*0.1s)+0.15s;
    }
}

@keyframes feltdown {
    0%  {
        transform: translateY(-100%);
        opacity: 0;
    } 

    50%  {
        transform: translateY(-50%);
        opacity: 0.5;
    }
    100%  {
        transform: translateY(0);
        opacity: 1;
    }
}

#home{
    background-image: linear-gradient(to right,#F8FAF7,#fafcf9);

    .content {
        background-image : url('../img/bg2.jpg');
        background-size: cover;
        background-attachment: fixed;
        
        .content-right{
            font-family: 'Raleway', sans-serif;
        }
    }


}

.title-home{
    font-family: 'Yellowtail', cursive;
}

.content-title {
    .title-text{
        font-family: 'Yellowtail', cursive;
    }
}

#about {
    .content-fill{
        font-family: 'Raleway', sans-serif;
    }
}
.card-wrap{
    .card-right{
        h1{
            font-family: 'Yellowtail', cursive;
        }
    }

    svg{
        @include transition-ease(all,.8s);
    } 

    &:hover{
        
        svg {
            transform: scale(1.3);
        }
    }
}

#feature{
    background-image: linear-gradient(to right,#F8FAF7,#fafcf9);
}

.icon {
    h3{
        font-family: 'Raleway', sans-serif;
        font-size: 1.3rem;
        font-weight: bold;
    }

    p{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
    }

    
}
// .price-content{
//     background-color: #feb2b2;
// }



.prices{
    
    .package{
        z-index: 2;
        top: 0;
        @include transition-ease(top,.2s);
    }

    .header-package{
       
        span {
            border-bottom: thick solid #f56565;
            @include transition-ease(all,.2s);
        }
    }

    .shade{
        bottom: 0rem;
        z-index: 1;
        width: 90%;
        margin-left: 5%;
    
        
    }
    &:hover {
        & .package {
            top : -0.8rem;
        }

        & .header-package{
            span {
                border-bottom: thin solid #f56565;
            }
        }
    }

    & a {
        @include transition-ease(all,.2s);
    }
}

.social-media{
    @include transition-ease-in(opacity,.2s);

    & .social-icon{
        @include transition-ease-in(transform,.2s);
    }

    &:hover{
        opacity: 0.7;

        & .social-icon {
            transform: scale(0.6);
        }
    }

    
}
// animation
.fade-bot{
    animation: fadebottom .8s linear;
}

@keyframes  fadebottom{
    0% {
        transform: translateY(-40%);
        opacity: 0.5;
    }

    50% {
        transform: translateY(-10%);
        opacity: 0.75;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.fade-left{
    animation: fadeleft .8s linear;
}

@keyframes fadeleft {
    0% {
        transform: translateX(-20%);
        opacity: 0.5;
    }

    50% {
        transform: translateX(-10%);
        opacity: 0.75;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadein{
    animation : fadein 0.5s linear;
    
}

@keyframes fadein {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    25%{
        opacity: 0.25;
        transform: scale(0.25);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.5);
    }
    75%{
        opacity: 0.75;
        transform: scale(0.75);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.fadein li:nth-child(1){
    transition-delay: 5s;
}
.fadein li:nth-child(2){
    transition-delay: 6s;
}

.fadeincommon{
    animation: fadein-common .5s ease-in-out;
}

@keyframes fadein-common {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
        
    }
    100%{
        opacity: 1;
        
    }
}

.about-card li :nth-child(1) .card-wrap{
    background-color: red;
}



.fade-right{
    animation: faderight .8s linear;;
}

@keyframes faderight {
    0% {
        transform: translateX(10%);
        opacity: 0.5;
    }

    50% {
        transform: translateX(5%);
        opacity: 0.75;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-lefts{
    animation: fadelefts .8s linear;;
}

@keyframes fadelefts {
    0% {
        transform: translateX(-10%);
        opacity: 0.5;
    }

    50% {
        transform: translateX(-5%);
        opacity: 0.75;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.delay-5 {
    animation-delay: .5s;
}

.delay-10 {
    animation-delay: .3s;
}

.delay-15 {
    animation-delay: .2s;
}

.swiper-slide{
    width: 300px !important;
    height: 350px !important;
}

.wa-place{
    bottom: 45px;
    right: 10px;

    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}



